CLUADE.md
.claude
eris
.nfs*
lib/
backup/
*.lps
eris.res
*.res
eris.exe
windbg.txt
bugs.md
eris.conf
themeengine.md
simd.md
newfeatures.md
g4.md
warp.md
tui.md
dysnomia-bin/
dysnomia-units/
k
technical-docs/